body {
    max-width: inherit;
    background-color: black;
    background: url('images/background.jpg');
    color: white;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-responsive {
    width: 300px;
    height:300px;
    min-height: 120px;
    min-width: 120px;
    padding: 10px;
}

.col-md-4-product-image {
    padding: 0px;
}

.product-image-caption {
    width: 87.5%;
    height:30%;
    bottom: 0.0rem;
    position: absolute;
    text-align:center;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.product-image-caption-inner-container {
    position: relative;
    top: 10%;
}

.product-image-caption-product-name {
    font-size: 1.35vw;
    font-weight: 500;
}

.product-image-caption-product-price {
    font-size: 1vw;
    font-weight: 500;
}

